body {
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.home__description {
  margin-bottom: 1.5rem;
}
.home__title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.home__description_title
{
	color: #32a0c2;
}
.button
{
	background: white;
	padding-left: 20px;
	padding-right: 20px;
	color: #353637;
}
.contact
{
	color: skyblue;
	text-decoration: unset;
}